<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <!-- favicon -->
    <link rel="icon" href="logoused.ico" type="image/x-icon">
    <!-- style -->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/home.css">
   
    <link rel="stylesheet" href="/styles/recipeCard.css">
    
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/a24ea374e8.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
</head>
<body style="background-color: rgba(255, 206, 71, 0.445);">
  <%- include('../layout/header') %>
    <main style="    overflow: hidden;
    ">
        <div id="resultPage" style="    display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
    ">
            <% recipeArray.forEach(element=>{ %>
                <div class="card-container">
            <div class="card u-clearfix">
                <img src="<%= element.image%>" alt="" class="card-media"/>
        
              <div class="card-body">
                <h2 class="card-title"> <%= element.label%></h2>
                <span class="card-description subtle"> <p class = "sumDes">ingredientLines: <%= element.ingredientLines%></span>
                <span class="card-description subtle"> <p>calories: <%= element.calories %></p></span>
                <span class="card-description subtle"> <p>fat: <%= element.fat %></p></span>
                <span class="card-description subtle"> <p>Carbs: <%= element.Carbs %></p></span>
                <span class="card-description subtle"> <p>Protein: <%= element.Protein %></p></span>
                <span class="card-description subtle"> <p>Cholesterol: <%= element.Cholesterol %></p></span>
        
              <section>
                <form id="create-form" action="/recipes" method="POST">
                    <fieldset>
                      <input hidden name="image" value = "<%= element.image%>">
                      <input hidden name="label" value = "<%= element.label %>">
                      <input hidden name="ingredientLines" value = "<%= element.ingredientLines %>" >
                      <input hidden name="calories" value ="<%= element.calories %>" >
                      <input hidden name="fat" value ="<%= element.fat %>" >
                      <input hidden name="Carbs" value ="<%= element.Carbs %>" >
                      <input hidden name="Protein" value ="<%= element.Protein %>" >
                      <input hidden name="Cholesterol" value ="<%= element.Cholesterol %>" >
                      <button id = "selectBook"  class="recipebtn" type="submit">Select</button>
                    </fieldset>
                  </form>
              </section>

              </div>
            </div>
            <div class="card-shadow"></div>
          </div>
          <%}) %>
        </div>
    </main>
    <%- include('../layout/footer') %>
</body>
</html>

