<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
    <main style="height: 100%;margin-top: 70px;margin-bottom: -110px; min-height: 600px;">
        <div id="caloriesSearch">
            <% savedList.forEach(element=>{ %>
                <div class="card-container">
                    <div class="card u-clearfix">
                        <img src="<%= element.image%>" alt="" class="card-media"/>
                      <div class="card-body">
                        <h2 class="card-title"> <%= element.title%></h2>
                        <span class="card-description subtle">  <p class = "sumDes">instructions:</p><%= element.instructions%></span>
                        <span class="card-description subtle"> <p class = "sumDes">summary: </p> <%= element.summary %></span>
                      </div>
                    </div>
                    <div class="card-shadow">
                    </div>
                  </div>
         <%}) %>
        </div>
    </main>
    <%- include('../layout/footer') %>
</body>
</html>
