<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <!-- favicon -->
    <link rel="icon" href="logoused.ico" type="image/x-icon">
    <!-- style -->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/login.css">

   
    <link rel="stylesheet" href="/styles/recipeCard.css">
    
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/a24ea374e8.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <style>
      .recipebtn2{
        margin-top: 10px;
        background-color: #fcbc40;
        color: #f8f9fa;
        font-weight: bold;
        border: none;
        cursor: pointer;
        font-size: larger;
        padding: 10px 15px;
        border: 1px solid #fcbc40;

      }
      .recipebtn2:hover{
        font-weight: bold;

        background-color: #f8f9fa;
        color: #fcbc40;
        border: 1px solid #fcbc40;
      }
    </style>
    
</head>
<body>
  <%- include('../layout/header') %>
    <main style="height: 100%;margin-top: 70px; min-height: 1000px; overflow: hidden;">
        <div id="resultPage" style="    display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        background-color: #f7f1f1;
    ">
            <% savedList.forEach(element=>{ %>
                <div class="card-container">
            <div class="card u-clearfix">
                <img src="<%= element.image%>" alt="" class="card-media"/>
        
              <div class="card-body">
                <h2 class="card-title"> <%= element.label%></h2>
                <span class="card-description subtle"> <p class = "sumDes">ingredientLines: <%= element.ingredientlines%></p></span>
                <span class="card-description subtle"> <p>calories: <%= element.calories %></p></span>
                <span class="card-description subtle"> <p>fat: <%= element.fat %></p></span>
                <span class="card-description subtle"> <p>Carbs: <%= element.carbs %></p></span>
                <span class="card-description subtle"> <p>Protein: <%= element.protein %></p></span>
                <span class="card-description subtle"> <p>Cholesterol: <%= element.cholesterol %></p></span>

                <div id = "button_form">
                  <form action="/deleteRecipe/<%= element.label %>?_method=delete" method="post" style="display: inline-block;">
                    <button class="recipebtn2">Delete</button>
                  </form >
                  <button class="updateBtn recipebtn2" id="myBtn">Update</button>
              </div>
              <div class="updateForm form-popup modal-content ">
                <div class="modal-header">
                  <span class="close"></span>
                  <h2>Update Recipe</h2>
                </div>
                <div class="modal-body2">
                <form action="/update/<%= element.label %>?_method=put" method="POST" >
                  <input type="text" name="label" value=" <%= element.label%>">
                  <input type="text" name="calories" value="<%= element.calories%>">
                  <input type="text" name="fat" value="<%= element.fat%>">
                  <input type="text" name="carbs" value="<%= element.carbs%>">
                  <input type="text" name="protein" value="<%= element.protein%>">
                  <input type="text" name="cholesterol" value="<%= element.cholesterol%>">

                  <textarea name="ingredientLines" cols="30" rows="10"><%= element.ingredientlines%> </textarea>
                  <button class="recipebtn2">Update Recipe</button>
                </form>
              </div>

                <div class="modal-footer">
                  <h3> Foodieta</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="card-shadow"></div>

        </div>


          <%}) %>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="./js/app.js"></script>
  <script>
		// Get the modal
		var modal = document.getElementById("myModal");
	
		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");
	
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
	
		// When the user clicks the button, open the modal 
		btn.onclick = function () {
			modal.style.display = "block";
		}
	
		// When the user clicks on <span> (x), close the modal
		span.onclick = function () {
			modal.style.display = "none";
		}
	
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
    <%- include('../layout/footer') %>
</body>
</html>

