<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/recipeCard.css">

</head>
<body>
    <main>
        <div id="resultPage">
            <% savedList.forEach(element=>{ %>
                <div class="card-container">
            <div class="card u-clearfix">
                <img src="<%= element.image%>" alt="" class="card-media"/>
        
              <div class="card-body">
                <h2 class="card-title"> <%= element.label%></h2>
                <span class="card-description subtle"> <p class = "sumDes">ingredientLines: <%= element.ingredientLines%></span>
                <span class="card-description subtle"> <p>calories: <%= element.calories %></p></span>
                <span class="card-description subtle"> <p>fat: <%= element.fat %></p></span>
                <span class="card-description subtle"> <p>Carbs: <%= element.Carbs %></p></span>
                <span class="card-description subtle"> <p>Protein: <%= element.Protein %></p></span>
                <span class="card-description subtle"> <p>Cholesterol: <%= element.Cholesterol %></p></span>
              </div>
            </div>
            <div class="card-shadow"></div>
          </div>
          <%}) %>
        </div>
    </main>
</body>
</html>

